:root {
    --btn-span-outline-color:  rgba(255, 255, 255, 0.541);
    --btn-span-outline-color-light:   rgba(117, 117, 122, 0.212);
    --month-color: rgba(247, 247, 247, 0.418);
    --calendar-text-color: rgb(255, 255, 255);
    --calendar-number-color: rgb(243, 130, 0);
}


.event-subtitle {
    color: var(--photo-section-title) !important;
    text-align: center;
    margin-top: 10.5%;
    margin-bottom: 2.5%;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
}

.gallery-text {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 10% !important;
    margin-top: 0px !important;
    margin-bottom: 10% !important;
}

.rbc-toolbar .rbc-toolbar-label {
    flex-grow: 1;
    padding: 0 10px;
    text-align: center;
    font-weight: 400;
    font-size: 1.75rem;
    color: var(--calendar-text-color);
}

.rbc-btn-group{
    border-radius: 4px;
    border: 1px solid var(--btn-span-outline-color);
}

.rbc-btn-group > button{
    color: var(--calendar-number-color) !important;
    background-color: rgba(207, 93, 0, 0.075);
}

.rbc-toolbar button{
    border-radius: 4px; 
    border: 1px solid var(--btn-span-outline-color-light) !important;
}
div.rbc-time-view{
    color: var(--calendar-number-color);
}
div.rbc-agenda-view{
    color: var(--calendar-text-color);
}
div.rbc-month-view {
    border: 1px solid var(--month-color);
}
div.rbc-month-header {
    color: var(--calendar-text-color);
}

.rbc-date-cell{
    color: var(--calendar-number-color);
}


@media (max-width: 950px) {
    .rbc-calendar{
        width: 700px !important;
        height: 700px !important;
    }
    .rbc-toolbar .rbc-toolbar-label {
        font-size: 1.25rem;
    }
    .event-subtitle {
        letter-spacing: 0.35rem;
    }
}
@media (max-width: 768px) {
    .event-subtitle {
        margin-top: 15%;
    }
    .rbc-calendar{
        width: 625px !important;
        /*height: 500px !important;*/
    }
    .rbc-toolbar .rbc-toolbar-label {
        font-size: 1rem;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        width: 100% !important;
    }
}
@media (max-width: 650px) {
    .rbc-calendar{
        width: 550px !important;
    }
}
@media (max-width: 575px) {
    .rbc-calendar{
        width: 450px !important;
    }
}
@media (max-width: 450px) {
    .event-subtitle{
        font-size: 2rem;
    }
    .gallery-text {
        font-size: 1.25rem;
    }
    .event-subtitle {
        margin-top: 25%;
    }
    .rbc-calendar{
        width: 400px !important;
    }
}
@media (max-width: 415px) {
    .rbc-calendar{
        width: 350px !important;
    }
    .event-subtitle{
        font-size: 1.75rem;
    }
    .gallery-text {
        font-size: 1rem;
    }
    .event-subtitle {
        letter-spacing: 0.20rem;
    }
}

@media (max-width: 375px) {
    #navbar .navbar-brand {
        font-size: 1rem !important;
    }
    .event-subtitle{
        font-size: 1.75rem;
    }
    .gallery-text {
        font-size: 1rem;
    }
    .rbc-calendar{
        width: 270px !important;
        min-width: 250px !important;
    }
}

@media (max-width: 375px) {
    #navbar .navbar-brand {
        font-size: 0.75rem !important;
    }
    .event-subtitle{
        font-size: 1.25rem;
        margin-top: 30%;
    }
    .gallery-text {
        font-size: 0.9rem;
    }
    
}