
:root {
    
    --link-color-hover:  rgb(255, 102, 0);
    --link-color: rgb(255, 255, 255);
    --brand-color:   rgb(255, 102, 0);
    --nav-bg: rgba(0, 0, 0, 0.856);
    /*
    --brand-color:  rgb(117, 204, 255);
    --link-color-hover:   rgb(117, 204, 255);
    --link-color: rgb(255, 255, 255);
    --nav-bg: rgba(0, 0, 0, 0.733);
    */
  }

#navbar {
    /*position: fixed; */
    padding: 0 16px;
    /*top: 0;*/
    width: 100%;
    background-color: var(--nav-bg);
    
}


#navbar .nav-brand {
    color: var(--brand-color);
    font-family: 'Nunito' , sans-serif;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}

.nav-links {
    color: var(--link-color) !important;
    font-family: 'Nunito' , sans-serif;
    font-size: 1.5rem !important;
    font-weight: 200 !important;
}

.nav-links:hover {
    color: var(--link-color-hover) !important;
    font-weight: 200 !important;
}

/* add navbar scroll event so color changes when scolled and transparent at top */
#navbar.scrolled {
    background-color: rgba(0,0,0) !important;
    transition: background-color 200ms linear;
}

