:root {
    /* ORANGE THEME */
    
    --page-background-color: #a7a7a763;
    --photo-section-text: rgb(255, 255, 255);
    --photo-section-title:  rgb(36, 36, 36);
    --slash-color:  rgb(255, 102, 0);
    --repeating-text: rgb(255, 255, 255);
    --photo-border-color: #020101;
   
   /* PURPLE THEME 
    --page-background-color: #41659b0e;
    --photo-section-title: rgb(0, 2, 126);
    --photo-section-text:  rgb(0, 2, 126);
    --slash-color:  rgb(0, 2, 124);
    --repeating-text: rgb(117, 204, 255);
    --photo-border-color: #ffae00;*/

}

.page-content
{
    background-color: var(--page-background-color);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Nunito' , sans-serif;
    font-weight: 200;
    height: auto;
}

.sections{
    margin-bottom: 60px;
}

.first-section{
    margin-top: 50px;
}

body{
    font-family: 'Nunito' , sans-serif;
}

.photo-content-title {
    color: var(--photo-section-title) !important;
    font-weight: 300;
    font-size: 2rem;
}

.photo-content{
    color: var(--photo-section-text) !important;
    font-weight: 100;
    font-size: 1.125rem;
    margin-top: 35px;
    line-height: 2;
}

#heading-group h1{
    font-family: 'Nunito' , sans-serif;
    font-weight: 100 !important;
    font-size: 3.5rem;
}

#heading-group span {
    font-weight: 300;
    color:  var(--slash-color);
}

.heading-text{
    color: var(--repeating-text) !important;
}

.list-item{
    list-style-type: none;
}

.mini-btn{
    margin-bottom: 100px;
    margin-top: 100px;
}

.mini-link{
    background-color: transparent !important;
    text-decoration: none;
    color: var(--photo-section-text);
    font-weight: 300;
    font-size: 1.25rem;
    padding: 8px 20px;
    border-style: solid;
    border-width: 1px;
}

.mini-link:hover{
    background-color: transparent !important;
    text-decoration: none !important;
    color: var(--photo-section-text) !important;
}

.gallery-btn{
    margin-bottom: 100px;
    margin-top: 50px;
}

.gallery-link{
    background-color: transparent !important;
    text-decoration: none;
    color: var(--photo-section-text);
    font-weight: 300;
    font-size: 2rem;
    padding: 15px 35px;
    border-style: solid;
    border-width: 2px;
}

.gallery-link:hover{
    background-color: transparent !important;
    text-decoration: none !important;
    color: var(--photo-section-text) !important;
}

.gallery-text {
    color: var(--photo-section-text);
}

.photo-border {
    max-width: 100%;
}

.page{
    margin-top: 1%;
}

.gallery-hours {
    padding-top: 5%;
}

.zero-pad{
    padding: 0px 0px !important;
}

.highlight {
    font-weight: 200;
}

@media (max-width: 1675px) {

    #heading-group h1{
        font-size: 2.25rem !important;
    }
}

.footer {
    background-color: var(--page-background-color);
    color: #ffa60000;
    padding-bottom: 100px;
}